
a {text-decoration: none;color: #000;}

#map {height: 400px; max-width: 530px; min-width: 300px; background: #DADADA; }
#map a {border: none;}
h1{padding-bottom: 50px;}
u {text-decoration: none;border-bottom: 4px solid black;}​

.container {margin: 0px 0px;}
button{margin-top:20px;border: none;border-radius: 3px;padding: 10px;background-color: #000;color:#fff;}
#tableFilter{margin-top: 20px;}


#wrapper {margin: 0px auto; max-width: 900px; padding-top: 40px; margin-left: 40px;}
.scroll {height: 600px;overflow: auto;display: inline-block;}
.leaflet-popup-content h2 {font-family: Lato; font-size: 14px; text-transform: uppercase;}

#rightSide {height: 400px; max-width: 350px; width: 100%; float: right; padding-top: 5px;margin-right: 70px;}
#selectedSpot {display: none;}
#latestSpot ul, #selectedSpot ul {list-style: none; margin-top: 12px 0px; padding: 0px;}
.noResults {margin-left: 20px; font-size: 11px; font-style: italic; visibility: hidden;}

#info p {font-size: 14px; padding: 4px; line-height: 19px; font-weight: 300;}
#info {border-top: 4px #F8F8F8 solid;}
.button:hover {cursor: hand;}
table:hover {cursor: hand;}
input:focus {outline: none;}


section {
  position: relative;
  margin-top: 50px;
  background-color: #eee;
  margin-left: 15px;
  border-radius:6px;
  -moz-border-radius:6px;
}
section.positioned {
  position: absolute;
  margin-top: 100px;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}

table {
  border-spacing: 0;
  width:100%;

}
td, th {
  border-bottom:1px solid #eee;

}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  white-space: nowrap;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:500px;
  margin-bottom: 100px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-size: 15px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


#alumniTable{
	width: 1050px;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

