
a {text-decoration: none;color: #000;}

#map {height: 400px; max-width: 530px; min-width: 300px; background: #DADADA; }
#map a {border: none;}
h1{padding-bottom: 50px;}
u {text-decoration: none;border-bottom: 4px solid black;}​

.container {margin: 0px 0px;}
button{margin-top:20px;border: none;border-radius: 3px;padding: 10px;background-color: #000;color:#fff;}
#tableFilter{margin-top: 20px;}


#wrapper {margin: 0px auto; max-width: 900px; padding-top: 40px; margin-left: 40px;}
.scroll {height: 600px;overflow: auto;display: inline-block;}
.leaflet-popup-content h2 {font-family: Lato; font-size: 14px; text-transform: uppercase;}

#rightSide {height: 400px; max-width: 350px; width: 100%; float: right; padding-top: 5px;margin-right: 70px;}
#selectedSpot {display: none;}
#latestSpot ul, #selectedSpot ul {list-style: none; margin-top: 12px 0px; padding: 0px;}
.noResults {margin-left: 20px; font-size: 11px; font-style: italic; visibility: hidden;}

#info p {font-size: 14px; padding: 4px; line-height: 19px; font-weight: 300;}
#info {border-top: 4px #F8F8F8 solid;}
.button:hover {cursor: hand;}
table:hover {cursor: hand;}
input:focus {outline: none;}
thead{
	display: table-header-group;
}
table {
    width: 90%;
    table-layout: fixed;

}
td{ 
	word-wrap:break-word;

}
tr {
	width: 90%;
	display: inline-table;
	height:80px;
	table-layout: fixed;
  
}

table{
 height:300px; 
 display: -moz-groupbox;
}
tbody{
  overflow-y: scroll;
  width: 80%;
  height: 500px;
  position: absolute;
}